.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
.shaper {
    height: 0;
    width: 0;
    border-bottom: 20px solid rgb(209, 8, 8);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }